<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>

	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="" target="_blank"> Notificações</a></li>
			<li><a href="" target="_blank">Novidades</a></li>
			<li><a href="" target="_blank"> Downloads</a></li>
			<li><a href="" target="_blank"> Convites</a></li>
		</ul>
	</div>


	<div class="menu-bar__item_1">
		<ul>
			<li><a href="" target="_blank"><i class=" bi bi-youtube "></i></a></li>
			<li><a href="" target="_blank"><i class=" bi bi-linkedin "></i></a></li>
			<li><a href="" target="_blank"><i class=" bi bi-github "></i></a></li>
		</ul>
	</div>


</div>
